@import "tailwindcss";

h1,h5{
    font-size: 50PX;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-decoration: underline;
    font-weight: 600px;
    text-transform: capitalize;
}